# Data Files
data/*
!data/README.md
!data/raw/
!data/interim/
!data/processed/
!data/external/
data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/**/.gitkeep

# CSV files anywhere
*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Models
models/*.pkl
models/*.joblib

#Environment
.env
